.places h1 {
  text-align: left;
  font-size: 30px;
}

.places-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.places .place {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border-radius: 4px;
  border: 1px solid #ff5a5f;
}

.place-title {
  font-size: 30px;
  text-align: center;
}
